@import url(./Reset.css);
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');

.mynavbar {
  position: absolute;
  z-index: 2;
  width: 100%;

}

.store {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171a21;
}

.mynavbar img {
  width: 250px;
}

.store .mainimg {
width: 100%;
height: 577px;
filter: blur(4px);
filter: brightness(.8); 
}

.bannergame {
  display: flex;
  justify-content: center;
}


.store .bannergame {
position: absolute;
z-index: 1;
}

.eldenringinfo {
  display:flex ;
  flex: 1 1 auto;
  /* transform: translate(20%, 150px); */
  /* padding-left: 500px; */
  padding-top: 150px;
  overflow: hidden;
  
}

.bannergameposter {
  width: 60%;
  margin-left: 0px;
  box-shadow: 0px 0px 20px 0px #5f6872;
  border-radius: 15px;
}


.gamename {
  font-family: 'Bacasime Antique', serif;
  font-size: 70px;
}

.bannergame > .left {
  width: 100%;
}

.buybtn {
  width: 20%;
  margin-top: 20px;
  margin-left: -20px;
}

.wishlist {
  text-decoration: none;
  color: white;
}

.left {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  padding-left: 300px;
}

.right {
  flex: 1;
}

.specialofferscontainer {
  display: flex;
  position: relative;
  z-index: 1;
  margin-top: 700px;
  background-color:#171a21 ;
  /* margin-left: auto;
  margin-right: auto; */
}

.offers {
  background-color: rgba(0, 0, 0, 0.349);
  width: 300px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
border-radius: 20px;
}

.offersimg {
  width: 100%;
  border-radius: 10px;
}

.info {
  color: #73BBC9 !important;
}